<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="css/features.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>도트-기능</title>

    <%- include('partials/navigation'); %>
  </head>
  <body>
    <div class="container">
      <% for (const i of jsonData) { %>
        <div class="feature">
          <img class="features features_img" src="img/features/<%=i.img%>.png" />
          <div class="feature_text">
            <h3 class="features features_h3"><%= i.title %></h3><br>
            <h4 class="features features_span">사용법: <%= i.command %></h4><br>
            <span class="features features_h5"><%= i.desc %></span>
          </div>
        </div>
        <% } %>
    </div>
    <script src="cli_js/underline.js"></script>
  </body>
</html>